<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tutoriais de Hardware
    </ion-title>
    <ion-button class="custom-button" routerLink="/tabs/tab1">IR PARA HOME</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tutoriais de Hardware</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <P>MONTAR COMPUTADOR EM 10 PASSOS</P>
  <iframe width="390" height="300" src="https://www.youtube.com/embed/GwLpaf3q6oA" 
  frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
  allowfullscreen></iframe>
  
</ion-card>

<ion-card>
  <P>FAZER UPGRADE EM NOTEBOOKS</P>
  <iframe width="390" height="300" src="https://www.youtube.com/embed/bwHTl_s0nfA" 
  frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
  allowfullscreen></iframe>
  
</ion-card>
</ion-content>
