<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tutoriais de Software
    </ion-title>
    <ion-button class="custom-button" routerLink="/tabs/tab1">IR PARA HOME</ion-button>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tutoriais de Software</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <P>FORMATAR PC/NOTEBOOK</P>
    <iframe width="390" height="300" src="https://www.youtube.com/embed/46EMXOOW62Q" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
  </ion-card>
  
  <ion-card>
    <P>ATUALIZAR DRIVERS DO COMPUTADOR</P>
    <iframe width="390" height="300" src="https://www.youtube.com/embed/xWGqD-pDW3s" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
  
  </ion-card>


</ion-content>
